<h1>New List</h1>

<% if @list.errors.any? %>
  <h3>Errors!!!</h3>
  <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  </ul>
<% end %>

<%= form_for @list do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
